:root{
    --primary:#444449;
    --secondary:#eddabf;
    --primaryGradient:linear-gradient(to right,var(--primary),#454553,var(--primary));
}
html{
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    color: white;
}
body{
    height: 3000px;
    width: auto;
    background-image: linear-gradient(#d6cfcd,#eddabf,#cdb8b4);
}
.header{
    background-color: var(--primary);
    background-image: var(--primaryGradient);

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 4.5em;
    margin: -10px;
    /* border-radius: 60px; */
    padding: 12px 10px;
    box-shadow:#444449;
}

.logo{
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

#hSiteTitle{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 38pt;
    line-height: 0px;
}

.nav-icons{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 10px;
}

.navbarButton{
    background: none;
    /* color: var(--primary); */
    color: white;
    font-size: 16pt;
    font-weight: 600;
    line-height: 0px;
    max-height: 2em;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 2px solid;
    border-radius: 5px;
    /* background-color: #cdb8b4; */
    border-color: var(--secondary);
    background-color: none;
    cursor: pointer;
}

.navbarButton:hover{
    color: var(--primary);
    background-color: var(--secondary);
}

/* .nav-icons button{ */
/*     height:2em; */
/*     width: 5.5em; */
/*         border: none; */
/*     background: none; */
/*     cursor: pointer; */
/*     margin-right:30px; */
/*     margin-top: 1.3em; */


/*     font-size: 14pt; */
/*     font-weight: 750; */
/*     color: var(--primaryGradient); */

/*     background-color: #cdb8b4; */

/* } */

.loginContainer{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#divLoginFormContainer{
    border-radius: 20px;
    /* background-color: rgba(50,50,50,0.75); */
    width: fit-content;
    background-color: var(--primary);
    height: fit-content;
    padding: 3em;
    padding-bottom: 1.5em;
    margin: 5% 5%;
}

#divInfoContainer{
    margin: 5% 0px;
}

#imgBanner{
    border-radius: 5px;
}

#hInfoHeader{
    text-align: center;
    font-size: 32pt;
    line-height: 0px;
    margin: 60px 0px;
}

#formLogin{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: space-between;

    font-weight: 500;
    font-family: monospace;
    font-size: 18pt;
    letter-spacing: 2px;
}

.formRow{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}


.inputField{
    font-size: 18pt;
    margin: 10px;
    margin-left: 15px;
    color: white;
    outline: none;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid ;
    background: none;
    border-color: var(--secondary);
}

.inputField:focus{
    border-color: white;
}

#inputSubmit{
    background: none;
    color: white;
    font-size: 16pt;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    justify-self: flex-end;
    border: 2px solid;
    border-radius: 5px;
    border-color: var(--secondary);
    cursor: pointer;
}
#inputSubmit:hover{
    color: var(--primary);
    background-color: var(--secondary);
}
