section{
    margin: 0 auto;
    margin-top: 0.5em;
    background-color: var(--level-1-white);

    width: 98%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 0.5em;
    box-shadow: var(--shadow);


}
.search{
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;



}
.search #search-query{
    height: 2.5em;
    width:80vw;
    border-radius: 0.2em;
    font-size: 1em;
    padding: 0 1em;
}
.search #search-btn{
    height: 3em;
    width: 13vw;
    border-radius: 0.2em;
    border: 1px solid var(--black);
}

@media screen and (max-width:530px) {
    .search{
        justify-content: space-around;
    }
    .search #search-query{
        width:60vw;
    }
    .search #search-btn{
        width:14vw;
        padding:0, 1em;
    }
}
.productImage img{
    width: 30vw;
}
.productDesc{
    height: 30em;
    padding: 0.2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    gap: 1em;


}
.productDescription{
    padding: 2em;
    width: 20em;
    border: 1px solid var(--brand-blue);
    height: 28em;
    border-radius: 0.25em;
    display: flex;
    flex-direction: column;
    gap: 0.05vw;

}
.productDescription div{

    align-items:baseline;
    justify-content: space-around;

}
.productDescription key{

    font-size: 1.2em;
    margin-left: 1.5em;

}

.productDescription value{
    font-size: 1.2em;
    font-weight: 700;
}

.productDescription .name value{

    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
    margin-left: 1em;



}
.productDescription .description value{
    font-size: 1em;
    font-weight: 400;
    margin-left: 2.4em;
    text-align: left;

}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.buttons button{
    width: 10em;
    height: 3em;
}
.buttons button:hover{
    cursor: pointer;
}

.whatsapp button{
    border: 1px solid var(--success-clicked);
    color: var(--success-clicked);
    font-weight: 700;
}
.g-maps button{
    border: 1px solid var(--brand-blue);
    color: var(--brand-blue);
    font-weight: 700;
}

@media screen and (max-width:530px) {
    .productDesc{
        flex-direction: column;
        height: auto;
    }
    .productImage img{
        margin-top:2em ;
        width: 20em;
        border-radius: 0.25em;
    }
    .productDescription{
        height: auto;
    }
    .productDesc{
        padding: 2em;
    }
    .buttons{
        margin-top: 1.2em;
    }



}