<!DOCTYPE html>
<html lang="en">
    <header>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Localite+</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/res/favicon.ico">
    </header>
    <body>
        <div class="header">
            <div class="logo">
                <img src="/static/res/navbarLogo.png" alt="">
                <h2 id="hNavbarTitle">Localite+</h2>
            </div>
            <div class="nav-icons">
                <button class="navbarButton" id = "login" > Login </button>
                <button class="navbarButton" id = "sign-up" >Sign Up </button>
                <button class="navbarButton" id = "about-us" >About Us</button>
            </div>
        </div>
        <div id="divTitleContainer">
            <h1 id="hTitle">LOCALITE+</h1>
        </div>
        <div class="loginContainer">
            <div class="contentDiv" id="divInfoContainer">
                <img id="imgBanner" src="/static/res/slogan1.png">
            </div>
            <div class="contentDiv" id="divLoginFormContainer">
                <form id="formLogin">
                    <span class="formRow">
                        <label for="username" id = "labelUsername" class="formLabel">Username  : </label>
                        <input type="text" class="inputField" id="inputUsername" name="username"><br><br>
                    </span>
                    <span class='formRow'>
                        <label for="password" id = "labelPassword" class="formLabel">Password  : </label>
                        <input type="password" class="inputField" id="inputPassword" name="password"><br><br>
                    </span>
                    <span class='formRow'>
                        <input type="submit" id="inputSubmit" value="Login">
                    </span>
                </form>
            </div>
        </div>
        <hr>
        <div id="divRegisterContainer">
            <div id="divRegisterImageContainer">
                <img id="imgRegisterImage" src="/static/res/img1.jpg">
            </div>
            <div id="divRegisterContentContainer">
                <p id="pRegisterText">Haven't joined us yet?</p>
                <button class="registerButton" id="btnRegisterSelf">Register as Buyer</button>
                <button class="registerButton" id="btnRegisterStore">Register as Seller</button>
            </div>
        </div>
        <hr>
        <div class="about">
        </div>
        <div class="footer">
        </div>
    </body>

    <script src="{{ url_for('static',filename='highlight.js') }}"></script>
</html>
