

body{background-color: var(--level-0-white);}

.nav-bar{
    z-index: 5;
    position: sticky;
    top: 0;
    margin: 0 auto;
    margin-top: 0.5em;
    background-color: var(--level-1-white);

    width: 98%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 0.5em;
    height: 5em;
    box-shadow: var(--shadow);
}
.brand-name{
    margin-left: 0.5em;
}
.brand-name name{
    font-size: 2em;
    font-weight: 700;
    font-family: 'Lobster',sans-serif;
    color: rgb(60, 60, 60);
}
.brand-name l{
    color:var(--brand-blue);
}


.brand-name b{
    color:var(--brand-orange)
}
.nav-links{
    display: flex;
    gap: 1vw;

}

.nav-links a{
    margin-top: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--black);
    width: 5em;
    height: 2.5em;
    text-align: center;
    justify-content: center;
    padding: 0.5em 0em;
    border-radius: 0.25em;
    transition: border 0.25s ease-in-out, box-shadow 0.3s ease-in-out,background-color linear 0.05s;


}
.nav-links a:hover{
    border: 1px solid var(--brand-orange);
    box-shadow: 0 0 2px var(--brand-blue);


}
.nav-links a:active{
    transition: border 0.05s ease-in-out, box-shadow 0.05s ease-in-out,background-color linear 0.05s;
   background-color: var(--level-2-white);
   border:none;
    box-shadow: none;

}
@media screen and (max-width: 530px) {
.nav-bar{
    flex-direction: column;
    justify-items:end;
    height: 7em;
    align-items: center;
    padding: 0.5em;
    overflow: hidden;
}
.nav-links{
    gap: 6vw;
    margin: auto ;
}
.nav-links a{

    margin: auto ;
    width: 6em;
    border:0.25px solid var(--black);
    background-color: var(--level-2-white);
    height: 2em;
}
.brand-name{
    text-align: center;
    width: 150%;
    border-bottom:2px solid var(--level-0-white);
}
.nav-links a:hover{
    border:0.5px solid var(--black);
    box-shadow: none;
    border:0.5px solid var(--brand-blue);

}

.nav-links a:active{
    transition: background-color linear 0.05s,color linear 0.05s;
   background-color: var(--level-2-white);

   color: var(--brand-blue);


}



}
