section{
    margin: 0 auto;
    margin-top: 0.5em;
    background-color: var(--level-1-white);

    width: 98%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 0.5em;
    box-shadow: var(--shadow);


}
.search{
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;



}
.search #search-query{
    height: 2.5em;
    width:80vw;
    border-radius: 0.2em;
    font-size: 1em;
    padding: 0 1em;
}
.search #search-btn{
    height: 3em;
    width: 13vw;
    border-radius: 0.2em;
    border: 1px solid var(--black);
}

@media screen and (max-width:530px) {
    .search{
        justify-content: space-around;
    }
    .search #search-query{
        width:60vw;
    }
    .search #search-btn{
        width:14vw;
        padding:0, 1em;
    }
}
.wishlist-wrap{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 2em;
}
.wishlist-wrap heading{
    margin: 1em auto;
}
.profile{
    height: 35em;
}
.profile img{
    border-radius: 50%;
}
.results-container{
    display: grid;
    grid-template-columns:
    repeat(auto-fill, minmax(10em, 2fr))
    ;
    grid-template-areas:
    "div"
    ;
    gap: 1em;
    padding: 2em;
    height: auto;
}
.result{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 0.25em;
    gap: 0.5em;
}
.result name{
    font-size: 1.2em;
    font-weight: 700;
}
.result distance{
    font-size: 1.1em;
    font-weight: 400;
}
.result price{
    font-size: 1em;
    font-weight: 400;
}


.login{
    display: flex;
    height: 50em;
    align-items: center;
    justify-content: space-around;
}
.login .map-container img{
    width: 30vw;
}

.login-form{

    height: 80%;
        width: 30em;
    background-color: var(--level-2-white);
    border-radius: 0.2em;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--brand-orange);
}
.login-form heading{
    color: var(--brand-blue);
    margin-top: 2.5em;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Lobster',sans-serif;

}
.login-form form{
    padding: 2em;
    border: 1px solid var(--brand-blue);
    border-radius:0.25em ;
    font-size: 1em ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    color: var(--black);
    font-weight:bolder;
    margin-top: 2.5em;


}
.login-form div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5em;
}
.login-form input{
    height: 2.5em;
    width: 15em;
    font-size: 10pt;
    font-weight:bolder;
    box-shadow: var(--shadow);
    padding-left: 1em;
}
.submit input,.location button{
    padding-left: 0em;
    font-weight: 600;
    background-color: white;
    border-radius: 0.2em;
    border: 0.5px solid var(--brand-blue);
    font-size: 1em;
    width: 14em;
    height: 2em;
    font-family: 'Lato',sans-serif;
    color: var(--brand-blue);


}
.submit input:hover, .location button:hover{
    transition: border-color 0.25s ease-in-out;
    color: var(--success);
    border-color: var(--success);
    cursor: pointer;
}
.submit input:active,.location button:active{
    color: var(--success-clicked);
    border-color: var(--success--clicked);

}

@media screen and (max-width: 530px) {
.login{
    flex-direction: column-reverse;
    height: auto;

}

.login-form{
    margin-top: 2em;
    height: 38em;
    width: 25em;

}
.login-form heading{
    margin-top:0.5em ;
}

/* .login-form form{
    margin-top: 0.2em;

} */


.login .map-container img{
    width: 28em;
}
}