<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/style_itemreq.css" />

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>

  <body>

    <section id="sidebar">
      <a href="#" class="brand">
        <i class="bx bxs-smile"></i>
        <span class="text">AdminHub</span>
      </a>
      <ul class="side-menu top">
        <li class="active">
          <a href="#">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="admin.html">
            <i class="bx bxs-shopping-bag-alt"></i>
            <span class="text">My Store</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('add_stock')}}">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="text">Add Stock</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('view_stock')}}">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span class="text">View Stock</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('update_stock')}}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <span class="text">Update Stock</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('request_item')}}">
            <!-- <a href="request_item.html"> -->
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <span class="text">Request Items</span>
          </a>
        </li>
      </ul>
    </section>


    <nav>
      <i class="bx bx-menu"></i>
      <a href="#" class="nav-link">Categories</a>
      <form action="#">
        <div class="form-input">
          <input type="search" placeholder="Search..." />
          <button type="submit" class="search-btn">
            <i class="bx bx-search"></i>
          </button>
        </div>
      </form>
      <input type="checkbox" id="switch-mode" hidden />
      <label for="switch-mode" class="switch-mode"></label>
      <a href="#" class="notification">
        <i class="bx bxs-bell"></i>
        <span class="num">8</span>
      </a>
      <a href="#" class="profile">
        <img src="#" />
      </a>
    </nav>
    
    <div class="container">
      <header>Request Items</header>

      <form action="#">
        <div class="form first">
          <div class="details ID">
            <div class="fields">
              <div class="input-field">
                <label>Product Name</label>
                <input type="text" placeholder="Enter product name" required />
              </div>

              <div class="input-field">
                <label>Images</label>
                <input type="file" placeholder="Enter product image" required />
              </div>

              <div class="input-field">
                <label>Price</label>
                <input type="text" placeholder="Enter price" required />
              </div>

              <div class="input-field">
                <label>Category</label>
                <input type="text" placeholder="Enter category" required />
              </div>

              <div class="input-field">
                <label>Description</label>
                <input type="text" placeholder="Enter description" required />
              </div>

              <div class="input-field">
                <label>Tags</label>
                <input type="text" placeholder="Enter tag" required />
              </div>

              <div class="input-field">
                <label>In stock</label>
                <input type="text" placeholder="Enter stock" required />
              </div>
            </div>

            <button class="nextBtn">
              <span class="btnText">Submit</span>
              <i class="uil uil-navigator"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <script src="../static/index_itemreq.js"></script>
  </body>
</html>
