<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/style_itemreq.css" />

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>

  <body>
    <div class="container">
      <header>Request Items</header>

      <form action="#">
        <div class="form first">
          <div class="details ID">
            <div class="fields">
              <div class="input-field">
                <label>Product Name</label>
                <input type="text" placeholder="Enter product name" required />
              </div>

              <div class="input-field">
                <label>Images</label>
                <input type="file" placeholder="Enter product image" required />
              </div>

              <div class="input-field">
                <label>Price</label>
                <input type="text" placeholder="Enter price" required />
              </div>

              <div class="input-field">
                <label>Category</label>
                <input type="text" placeholder="Enter category" required />
              </div>

              <div class="input-field">
                <label>Description</label>
                <input type="text" placeholder="Enter description" required />
              </div>

              <div class="input-field">
                <label>Tags</label>
                <input type="text" placeholder="Enter tag" required />
              </div>

              <div class="input-field">
                <label>In stock</label>
                <input type="text" placeholder="Enter stock" required />
              </div>
            </div>

            <button class="nextBtn">
              <span class="btnText">Submit</span>
              <i class="uil uil-navigator"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <script src="../static/index_itemreq.js"></script>
  </body>
</html>
